<nav>
    <li (click)="navegar('/'+perfil)">Home</li>
    <ul>
        <li (click)="navegar('/contabilidade')" *ngIf="perfil == 'owner' ">Contabilidade</li>
        <li (click)="navegar('/funcionarios')" *ngIf="perfil == 'owner' ">Funcionários</li>
         <li (click)="navegar('/funcionario-clientes')" *ngIf="perfil == 'funcionario' ">Clientes</li>
        <li (click)="navegar('/funcionario-pets')" *ngIf="perfil == 'funcionario' ">Pets</li>
        <li (click)="exit()">Sair</li>
    </ul>
</nav>