<nav>
    <li style="margin-left: 20px;"  class="transparent" (click)="navegar('/'+perfil)">
        <button mat-fab color="primary">
            <mat-icon class="tamanho-icone" style="padding: 0 !important;">home</mat-icon>
          </button>
    </li>
    
    <ul>
        <li (click)="navegar('/owner')" *ngIf="perfil == 'owner' ">Consultas</li>
        <li (click)="navegar('/funcionarios')" *ngIf="perfil == 'owner' ">Funcionários</li>
         <li (click)="navegar('/funcionario-clientes')" *ngIf="perfil == 'funcionario' ">Clientes</li>
        <li (click)="navegar('/funcionario-pets')" *ngIf="perfil == 'funcionario' ">Pets</li>
        <li (click)="exit()">Sair</li>
    </ul>
</nav>