<app-header></app-header>
<div>
    <h1>Em Manutenção</h1>
    <!-- <p>Pets</p>
    <div class="container-principal">
        <div class="container-funcionarios-table">
            <table mat-table [dataSource]="pets" class="mat-elevation-z8 table-funcionarios">
               
            
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Ação </th>
                    <td mat-cell *matCellDef="let element">
                        <button style="float: left;" (click)="editarPet()">Editar</button>
                        <button style="float: left;" (click)="detalhesPet()">Detalhes</button>
                    </td>

                </ng-container>

       
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div> -->
</div>
<app-footer></app-footer>
