<app-header></app-header>
<div class="container-tela">
    <div class="container-principal">   
        <div class="container-card-tabela" *ngIf="!cadastro">
            <p class="titulo">Pets Cadastrados</p>
            <button (click)="novoPetCadastro()" mat-raised-button color="primary">Cadastrar Novo Pet</button>

            <mat-card class="card-tabela">
                <mat-toolbar color="primary">Lista dos Pets.</mat-toolbar>
                <table mat-table [dataSource]="pets" class="mat-elevation-z8 table">
                    <ng-container matColumnDef="acao">
                        <th mat-header-cell *matHeaderCellDef> Ação </th>
                        <td mat-cell *matCellDef="let element">

                            <mat-icon color="primary" aria-hidden="false" style="cursor: pointer;"
                                (click)="editarPet()">edit</mat-icon>
                            <mat-icon color="primary" aria-hidden="false" style="cursor: pointer;"
                                (click)="detalhesPet()">more</mat-icon>

                        </td>

                    </ng-container>


                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card>
        </div>

        <div *ngIf="cadastro" class="cadastro">
            <p class="titulo">Cadastro novo pet</p>

            <mat-toolbar color="primary" style="border-radius: 15px; margin-bottom: 15px;">
                Dados do Pet.
            </mat-toolbar>
            <form [formGroup]="formPet" class="register-form">
                <div class="form-field">
                    <label class="label-input">Nome do pet:</label>
                    <input type="text" formControlName="name" placeholder="Digite o nome">
                </div>
                <div class="form-field">
                    <label class="label-input">Raça:</label>
                    <input type="email" formControlName="raca" placeholder="Digite a raca do animal">
                </div>
                <div class="form-field">
                    <label class="label-input">Dono</label>
                    <select class="option"  formControlName="dono">
                        <option  *ngFor="let pessoa of clientes" [value]="pessoa">
                            {{ pessoa!.name }}
                        </option>
                    </select>
                </div>
                <div class="form-field">
                    <label class="label-input">Idade</label>
                    <input type="number" formControlName="idade" value="Idade">
                </div>

                <div class="buttons">
                    <button class="button-voltar" (click)="cancelarCadastroPet()">Cancelar</button>
                    <button type="submit" class="button-padrao" (click)="salvarPet()">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>