<app-header></app-header>
<div class="container-principal">
    <div class="container-header">
        <mat-card class="example-card" *ngIf="!cadastro && !detalhes && !editar">
            <div class="header">
                <h1>Lista de funcionários</h1>
                <button  mat-raised-button color="primary" class="butao-novo-funcionario" (click)="newFuncionario()">Cadastras novo funcionario</button>
                <mat-toolbar color="primary">
                    Consultas realizadas.
                </mat-toolbar>
            </div>

            <table mat-table [dataSource]="funcionarios" class="mat-elevation-z8 table-funcionarios">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Ação </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon color="primary" aria-hidden="false" style="cursor: pointer;"
                            (click)="editarFuncionario(element.id)">edit</mat-icon>
                        <mat-icon color="primary" aria-hidden="false" style="cursor: pointer;"
                            (click)="detalhesFuncionario(element.id)">more</mat-icon>
                    </td>

                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef style="font-size: 16px;"> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>
    <div *ngIf="cadastro" class="cadastro" >
        <mat-toolbar color="primary" style="border-radius: 15px; margin-bottom: 15px;">
            Dados do funcionário.
        </mat-toolbar>
        <form [formGroup]="formFuncionario" class="register-form">
            <div class="form-field">
                <label class="label-input">Nome do Funcionario:</label>
                <input type="text" formControlName="name" placeholder="Digite o nome">
            </div>
            <div class="form-field">
                <label class="label-input">Email:</label>
                <input type="email" formControlName="email" placeholder="Digite o Email">
            </div>
            <div class="form-field">
                <label class="label-input">Data de Nascimento:</label>
                <input type="date" formControlName="dataNascimento" value="Data de Nascimento">
            </div>
            <div class="form-field">
                <label class="label-input">Contato</label>
                <input type="text" formControlName="contato" value="Contato">
            </div>

            <div class="buttons">
                <button class="button-voltar espaco" (click)="cancelar()">Cancelar</button>
                <button class="button-padrao espaco" type="submit" (click)="salvar()">Salvar</button>
            </div>
        </form>
    </div>

    <div class="detalhes" *ngIf="detalhes">

        <div class="form-field">
            <label class="label-input">Nome do Funcionario:</label>
            <span>{{funcionarioSelecionado.name}}</span>
        </div>
        <div class="form-field">
            <label class="label-input">Email:</label>
            <span>{{funcionarioSelecionado.email}}</span>
        </div>
        <div class="form-field">
            <label class="label-input">Data de Nascimento:</label>
            <span>{{funcionarioSelecionado.dataNascimento | date: 'dd/MM/yyyy'}}</span>
        </div>
        <div class="form-field">
            <label class="label-input">Contato</label>
            <span> {{funcionarioSelecionado.contato | phone}}</span>
        </div>
        <div class="buttons">
            <button class="button-padrao" (click)="cancelarDetalhes()">Voltar</button>
        </div>
    </div>


    <div class="editar" *ngIf="editar">
        <form [formGroup]="formFuncionario" class="register-form">
            <div class="form-field">
                <label class="label-input">Nome do Funcionario:</label>
                <input type="text" formControlName="name" placeholder="Digite o nome">
            </div>
            <div class="form-field">
                <label class="label-input">Email:</label>
                <input type="email" formControlName="email" placeholder="Digite o Email">
            </div>
            <div class="form-field">
                <label class="label-input">Data de Nascimento:</label>
                <input type="date" formControlName="dataNascimento" value="Data de Nascimento">
            </div>
            <div class="form-field">
                <label class="label-input">Contato</label>
                <input type="text" formControlName="contato" value="Contato">
            </div>

            <div class="buttons">
                <button class="button-voltar espaco" (click)="cancelar()">Cancelar</button>
                <button class="button-padrao espaco" type="submit" (click)="salvar()">Salvar</button>
            </div>
        </form>
    </div>

</div>
<app-footer></app-footer>