table {
  width: 100%;
}

.card{

}
.example-card {
  max-width: 800px;
}

.container-principal{
  animation: entrar 2s;
}

.card-div{
  animation: aparecer 2s;
}
@keyframes entrar{
  0% {
      transform: translateX(100px);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes aparecer {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}