<app-header></app-header>
<div class="container-dog">
    <div class="img-dog">
        <img src="./../../../../../assets/imagens/labrador.jpeg" alt="Imagem Pet">
    </div>
    <div class="dados">
        
        <span>Bem vindo: {{pessoaLogada?.name}}</span>
        <span>Consultas: {{qntConsultas}}</span>
    </div>
</div>
<div class="container-card-table">
    <mat-card class="card">
        <app-tabela></app-tabela>
    </mat-card>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>