.container-cadastro-consulta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-boas-vindas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}